#spin, #exitWin {
  border: 1px solid #00cc6f;
  background-color: white;
}

#spin:hover, #exitWin:hover {
  color: white;
  background-color: #00cc6f;
  border-color: #00b478;
}

#reset {
  border: 1px solid red;
  background-color: white;
}

#reset:hover {
  color: white;
  background-color: red;
  border-color: #ff5773;
}

#spin:focus,
#reset:focus {
  outline: none;
}

.display {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  opacity: .95;
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  z-index: 900;
  -webkit-transition: display 2s ease-in 3s;
  transition: display 2s ease-in 3s;
  padding: 5rem;
  width: 70%;
}

.display #readout {
  font-size: 3rem;
  margin: 0, auto;
}

.display #result {
  margin: 0;
  font-size: 4rem;
  color: #00cc6f;
}

.display img {
  width: 300px;
  position: relative;
  bottom: -50px;
  right: -300px;
  z-index: 0;
}

.display #exitWin {
  display: block;
  margin: 3rem 0 0 0;
  padding: 1rem 3rem;
}

.App {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  font-family: 'Roboto', sans-serif;
}

.spinWheelSection {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 450px 100px;
      grid-template-rows: 40px 450px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinWheelSection #selector {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 3rem;
  color: #5605a1;
}

.spinWheelSection #spin,
.spinWheelSection #reset {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.spinWheelSection button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #cacaca;
  font-size: 1.3rem;
  cursor: pointer;
}

#recentWinnersDiv {
  -ms-grid-column: 2 !important;
  -ms-grid-column-span: 1 !important;
  grid-column: 2 / 3 !important;
  -ms-grid-row: 1 !important;
  -ms-grid-row-span: 1 !important;
  grid-row: 1 / 2 !important;
}

canvas {
  z-index: -1;
  position: relative;
  top: -50px;
  width: 500px;
  height: 500px;
}

.CanvasContainer {
  position: relative;
}

.jackpotContainer {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 162px;
  right: 195px;
  font-size: 2rem;
  line-height: 40px;
  color: #333;
}

.jackpotContainer .bold {
  font-weight: bold;
  font-size: 38px;
  color: green;
}

.spinsRemaining {
  width: 100%;
  text-align: center;
}

.spinsRemaining .bold {
  font-size: 26px;
}
/*# sourceMappingURL=index.css.map */