

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column;
}

button {
  background: none;
  padding: 0.5rem 3rem;
  z-index: 10;
  font-size: 20px;
  border-radius:5px;
}


#spin{
  border: 1px solid #00cc6f;
}

#reset{
  border: 1px solid red;
}

#spin:hover {
  color: white;
  background-color: #00cc6f;
  border-color: rgb(0, 180, 120);
}

#spin:focus, #reset:focus {
  outline:none;
}

/* #reset {
  position: absolute;
  bottom: 20vh;
  right: 35vw;
} */

#reset:hover {
  color: white;
  background-color: red;
  border-color: red;
}






#selector1 {
  color: #5559DF;
  font-size: 60px;
  position: relative;
  top: 8vh;
  z-index: 3;
}
#selector2 {
  color:  #b2b5f7;
  ;
  font-size: 20px;
  position: relative;
  top: 5vh;
  z-index: 3;
}

#result{
  font-size:50px;
  color: rgb(0, 180, 120);
}

input {
  font-size: 16px;
  border:none;
  border-bottom: 1px solid black
}

.display {
  display: none;
  position: absolute;
  background-color: rgb(248, 248, 248);
  padding: 10rem;
  z-index: 900;
  transition: display 2s ease-in 1s;
}

.display img{
  position: relative; 
  bottom: -8rem;
  left: 8rem;
  width: 500px;
  z-index: 900;
}


.display h1, .display p{
  z-index: 901;
}